@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fafafa;
  color: #171717;
  font-family: var(--font-sans);
}

button {
  cursor: pointer;
}
